:root {
  --title-name: #EB455F;
  --color: #FCFFE7;
  --color2: #FCFFE7;
  --background: #2B3467;
}

body {
  font-size: 16px;
  color: #FCFFE7;
  background-color: #2B3467;
  font-family: monospace;
}

/* -----------header ----------------*/
#header h1 {
  color: #EB455F;
  text-align: center;
  font-size: 36px;
}

#header p {
  text-align: center;
  margin-top: 0% ;
  margin-left: 20%;
  margin-bottom: 2;
  margin-right: 20%;
}

/* main content */
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-items {
  border: dashed;
  margin: 24px;
  padding: 8px;
  min-height: 350px;
  max-height: 350px;
  min-width: 350px;
  max-width: 350px;
  margin: 2;
}

.content-items h3 {
  border: 2px solid #FCFFE7;
  background-color: #2B3467;
  border-radius: 7px;
  padding: 6px;
  position: relative;
  top: -40px;
  color: #EB455F;
  z-index: 1;
}

.content-items .description {

  color: #EB455F;
}

.content-items .code {
  text-align: left;
  border: 1px solid;
  background-color: #EB455F;
  border-radius: 10px;
  padding: 16px;
}









footer {
  color: #EB455F;
  text-align: center;
}


@media screen and (max-width: 992px) { 
.content-items {width: 50%;
}
}

@media screen and (max-width: 768) {
  .content-items {width: 100%;
}
}  